{% extends 'nav_bar.html' %}
{% load static  %}
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/table_style.css' %}">
    {% endblock %}


    {% block content %}
    <h1>Details of the department</h1>
       
    
    <table class="styled-table"> 
            <tr>
                <th>Department name</th>
                <th>description</th>
                <th>status</th>
                <th>update</th>
                <th>delete</th>
            </tr>
        {% for i in data %}
            <tr>
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                {% if i.is_active %}
                    <td>active</td>
                {% else %}
                    <td>inactive</td>
                {% endif %}
                <td>
                    <a class="btn-update" href="{% url 'update_page' i.id %}">update</a>
                </td>
                <td>
                    <a class="btn-delete" href="{% url 'delete_page' i.id %}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a  id ='id1' href="{% url 'create_dept' %}">+</a>

    {% endblock %}
